{% extends 'base.html' %}

{% block content %}

    
    <!======== Carousel container End  ==================>
    
    <!========    Carousel container Start  ==================>


    <!======== Carousel container End  ==================>





    <!======== Card container Start  ==================>
    <!======== Card container Start  ==================>
    <div class=container >
      <div class="title text-center py-4 py-md-5 mt-5">
        <h1 class="mb-10">Services</h1>
      </div>
      
    <div class="row mb-2 mt-4">
      {% for n in servicesData%}
    
      <div class="col-md-6">
        
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <strong class="d-inline-block mb-2 text-primary">{{n.services_mini_title}}</strong>
            <h3 class="mb-0">{{n.servicew_title}}</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">{{n.services_des | safe}}</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{n.services_pic}}" class="bd-placeholder-img" width="200" height="250" />
          </div>
        </div>
      </div>
      {% endfor %}

  <!======== Card container End  ==================>

  <!======== pagination Start  ==================>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      {% if servicesData.has_previous %}
      <li class="page-item">
        <a class="page-link" href="/contact-us/?page=1">First</a>
      </li>
      
      <li class="page-item">
        <a class="page-link" href="/contact-us/?page={{servicesData.previous_page_number}}">Previous</a>
      </li>
      {% endif %}

      {% for L in total_page_list %}
      <li class="page-item"><a class="page-link" href="/contact-us/?page={{L}}">{{L}}</a></li>
      {% endfor %}
     

      {% if servicesData.has_next %}
      <li class="page-item">
        <a class="page-link" href="/contact-us/?page={{servicesData.next_page_number}}">Next</a>
      </li>
      
      <li class="page-item">
        <a class="page-link" href="/contact-us/?page={{last_page}}">last page</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <!======== pagination End  ==================>

  <!======== footer Start  ==================>


{% endblock %}