{% extends 'base.html' %} 
{% block content %}

<section>
<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8 pt-4">
        <div class="title text-center">
          <h1 class="mb-10">{{NewsDataSlug.new_title}}</h1>
        </div>
      </div>
    </div>
</div>

    <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-2">
            {% if NewsDataSlug.new_image != '' %}
            <img src="/media/{{NewsDataSlug.new_image}}" class="img-fluid"/>
          </div>
            {% endif %}
          <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
              <div class=type"text">
                {{NewsDataSlug.new_desc | safe }}
                
              </div>
              
              
            </div>
            
          </div>
        </div>
    </div>
    </section>





<!======== footer Start  ==================>

{% endblock %}
